/*
### Primary
- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral
- Grey 500: hsl(234, 12%, 34%)
- Grey 400: hsl(212, 6%, 44%)
- White: hsl(0, 0%, 100%)

### Fonts
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600
*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(30, 1%, 98%);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  gap: 5rem;
}

header {
  text-align: center;
  max-width: 540px;
  gap: 50px;
}

header h1 {
  font-size: 3.2rem;
  font-weight: 200;
  color: hsl(212, 6%, 44%);
}

header h2 {
  font-size: 3.2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

header p {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 540px;
  margin-top: 15px;
  line-height: 1.6;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  max-width: 1200px;
}

.supervisor {
  grid-row: 1 / 3; /* 2줄 차지 */
  align-self: center;
  border-top: 5px solid hsl(180, 62%, 55%);
}

.team-builder {
  grid-column: 2;
  grid-row: 1;
  border-top: 5px solid hsl(0, 78%, 62%);
}

.karma {
  grid-column: 2;
  grid-row: 2;
  border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
  grid-row: 1 / 3;
  align-self: center;
  border-top: 5px solid hsl(212, 86%, 64%);
}

.box {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  padding: 30px 35px;
  width: 360px;
  border-radius: 8px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.box h3 {
  font-size: 2.4rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin-bottom: 8px;
}

.box p {
  font-size: 1.3rem;
  color: hsl(212, 6%, 44%);
  line-height: 1.6;
  margin-bottom: 30px;
}

.box img {
  width: 60px;
  height: auto;
  margin-left: auto;
}

footer {
  margin-top: auto;
  padding: 20px;
}

@media (max-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
  }

  header h1 {
    font-size: 2.3rem;
  }

  header h2 {
    font-size: 2.3rem;
  }

  header p {
    padding: 0 15px;
    font-size: 1.5rem;
  }

  .grid-box {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 300px;
  }
}
